* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease-in-out;
}

:root {
  --background: #ffffff;
  --text: #101828;
  --grey-text: #475467;
  --light-grey-text: #667085;
  --purple-text: #6941c6;
  --white-text: #ffffff;
  --purple: #7f56d9;
  --footer: #1d2939;
}

body {
  background: var(--background);
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input,
textarea,
button,
select {
  font-family: "Inter";
}

button,
select,
input[type="datetime-local"] {
  cursor: pointer;
}

/* Mobile Phones */
@media screen and (min-width: 280px) and (max-width: 480px) {
  html, body {
    width: 100vw;
    overflow-x: hidden;
  }
}
