.profile-main {
  width: 100vw;
  height: 100%;
}

/* Header */
.profile-header {
  display: flex;
  flex-direction: column;
}

.profile-banner {
  height: 25vh;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 24px;
  height: 12.5vh;
}

.profile-details-left {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.profile-avatar-container {
  position: relative;
  margin-top: -20%;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: url(https://anmolbansal7.github.io/cogoport-a2-responsive/assets/profile.png);
  background-size: contain;
  border: 4px solid #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 200px;
  width: 160px;
  height: 160px;
}

.profile-tick {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 120px;
  bottom: 0;
  left: 115px;
  right: 0;
}

.profile-details-left span.profile-name {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 38px;
  color: #101828;
}

.profile-details-left span.profile-email {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #475467;
}

.profile-details span.profile-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* Personal Info */

.profile-personal-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px 0px 32px;
  margin: 48px 0px 20px 0;
}

p.profile-title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  color: #344054;
}

p.profile-sub-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #475467;
}

div.profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 12px;
  overflow: hidden;
}

div.profile-card-top {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
}

div.profile-card-btn {
  /* background-color: antiquewhite; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  gap: 16px;
}

hr.profile-line {
  border: 1px solid #eaecf0;
  margin: 0px 32px 0px 32px;
}
div.profile-input-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.profile-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  width: 48%;
}

div.profile-email {
  width: 100% !important;
}

span.profile-pic-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  /* background: url(../assets/profile.png); */
  background-size: contain;
  border-radius: 200px;
}

label.profile-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  width: 86%;
  height: auto;
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #475467;
  cursor: pointer;
}


label.profile-upload:hover {
  border: 2px solid #7f56d9;
}
.profile-upload-purple {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  color: #6941c6;
}
.profile-upload-small {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  color: #475467;
}

/* Profile Info */

.profile-info-1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px 0px 32px;
  margin: 20px 0px 48px 0;
  /* flex-direction: column; */
}

.profile-toggle {
  display: flex;
  width: 100%;
  gap: 8px;
}

.profile-toggle-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  color: #344054;
}

.profile-toggle-desc {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #475467;
}

div.profile-username {
  width: 100% !important;
}

.profile-input-combined {
  display: flex;
  justify-content: flex-start;
}
span.profile-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px 10px 14px;
  /* width: 25%; */
  height: 44px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #475467;
}

input.profile-special {
  border-radius: 0px 8px 8px 0px !important;
  border-left: none;
  width: 100% !important;
}

span.profile-char-count {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #475467;
}

div.profile-format {
  width: 100% !important;
  display: flex;
  align-items: center;
  gap: 12px;
}

span.profile-format-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

div.profile-country,
div.profile-timezone {
  width: 100% !important;
}
div.profile-country select,
div.profile-timezone select {
  width: 100% !important;
}

/* Mobile Phones */
@media screen and (min-width: 280px) and (max-width: 480px) {
  .profile-main {
    width: 100vw;
  }

  img.profile-banner {
    width: 100vw;
  }

  .profile-details {
    flex-direction: column;
    padding: 0px 16px;
  }
  .profile-details-left {
    flex-direction: column;
  }
  .profile-details-left span.name {
    font-size: 1.5rem;
  }
  .profile-personal-info {
    margin-top: 35%;
    padding: 0px 16px;
    flex-direction: column;
  }
  .profile-avatar {
    width: 120px;
    height: 120px;
  }
  .profile-avatar-container {
    margin-top: -35%;
  }
  span.profile-tick {
    top: 90px;
    left: 90px;
  }
  span.profile-tick img {
    width: 24px;
    height: 24px;
  }
  .profile-card {
    width: 100% !important;
    margin-top: 5%;
  }
  .profile-input-name {
    flex-direction: column;
    gap: 24px;
  }
  div.profile-input {
    width: 100%;
  }
  label.profile-upload {
    width: 100%;
  }
  hr.profile-line {
    display: none;
  }
  .profile-info {
    padding: 0px 16px;
    flex-direction: column;
  }
  div.profile-format {
    flex-direction: column;
    align-items: flex-start;
  }
}
