.firstCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: 50vh;
}

.firstCard .poster {
  width: 100%;
  height: 54.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.firstCard .poster img {
  width: 100%;
  height: 100%;
}

.firstCard .details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 45.4%;
  width: 100%;
}

.firstCard .details .author {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
}

.firstCard .details .title {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.firstCard .details .title span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstCard .details .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 72px;
  width: 100%;
}

.firstCard .details .pills {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6941c6;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
  height: 24px;

  /* Primary/50 */

  background: #f9f5ff;
  mix-blend-mode: multiply;
  border-radius: 16px;
}

.landCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: 24vh;
  overflow: hidden;
}

.landCard .poster {
  height: 100%;
  width: 54.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.landCard .poster img {
  width: 100%;
  height: 100%;
}

.landCard .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 45.4%;
  height: 100%;
}

.landCard .details .author {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
}
.landCard .details .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #101828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.landCard .details .desc {
  width: 100%;
  height: 65px !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #475467;
  text-overflow: ellipsis;
  overflow: hidden;
}

.landCard .details .pills {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #6941c6;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.verticalCard {
  width: 23%;
}

.verticalCard .details {
  gap: 4px;
}
.verticalCard .details .author {
  font-size: 14px;
}
.verticalCard .details .title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.verticalCard .details .desc {
  height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.verticalCard .details .pills {
  font-size: 12px;
}
.pagination {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  width: 80%;
  height: 28vh;
  overflow: hidden;
}

.card .poster {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.card .poster img {
  width: 100%;
  height: 100%;
}

.card .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 50%;
  height: 100%;
}

.card .details .category {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
}
.card .details .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .details .desc {
  width: 100%;
  height: 65px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #475467;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .details .profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 4px solid #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 200px;
  background-size: contain;
}

.button-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar-details .name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.avatar-details .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}

/* Mobile Phones */
@media screen and (min-width: 280px) and (max-width: 480px) {
  .verticalCard {
    width: 100%;
  }
  .card {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .card .poster {
    width: 100%;
  }
  .card .details {
    width: 100%;
  }
}
